{% extends 'admin/detail_base.html' %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% macro item_field(key, wide='') %}
    <div class="field">
        <label for="{{ key }}">{{ key }}</label>
        {% if key in model.Meta.widgets %}
            {{ model.Meta.widgets[key] }}
        {% else %}
            <input type="{{ model.column_type(key, format_='html') }}" name="{{ key }}"
                   value="{{ getattr(item, key) }}"
                    {% if not key in model.list_editable %} disabled {% endif %}>
        {% endif %}
    </div>
{% endmacro %}

{% block contents %}
    <form action="{% if model.editable %}{{ url_for('admin.' + model.table_name() + '_update', p_key=getattr(item, item.p_key)) }}{% endif %}"
          method="post" class="ui form">
        <h3 class="ui dividing header">{{ model.table_name() | capitalize }}</h3>

        {% if not model.field_group %}
            {% for key in model.keys %}
                {{ item_field(key) }}
            {% endfor %}
        {% else %}
            {% for group in model.field_group %}
                {% if group %}
                    <div class="fields">
                        {% for key in group %}
                            {{ item_field(key) }}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="ui divider"></div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="ui hidden divider"></div>
        {% if model.editable %}
            <button type="submit" class="ui primary button">저장</button>
        {% endif %}

        {% if model.deletable %}
            <button class="ui negative button">삭제</button>
        {% endif %}
        
        {% block contents_extra %}{% endblock %}
        
        <div class="ui hidden divider"></div>
        <a href="{{ url_for('admin.' + model.table_name() + '_detail', p_key=item.id + 1) }}" class="ui button">이전</a>
        <a href="{{ url_for('admin.' + model.table_name() + '_detail', p_key=item.id - 1) }}" class="ui button">다음</a>
    </form>

{% endblock %}

{% block js %}
{% endblock %}
